@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: 'Roboto', serif;
}

.body{
	position: relative;
	display: flex;
	flex-direction: column;
	gap:2rem;
}

.body h1{
	font-size: clamp(30px, 8vw, 60px);
	font-weight: bold;
	color: #ff9a6a;
	font-family: "quicksand", sans-serif;
}

.body h1 span{
	position: relative;
	color: #db8eac;
	font-family: "Great vibes", cursive;
	left: 45px;
}



label {
	font-family: 'Quicksand', sans-serif;
}

h2{
	color: #ff9a6a;
}

p{
	color: #595a5c;
}

.login-box {
	width: 50%;
}

.btn-success {
	background-color: #ff9a6a;
}

.btn-success:hover {
	background-color: #f47438;
}

@media screen and (width <= 650px) {
	.login-box {
		width: 100vw;
	}
	
}
